{% extends "global/base_evento.html" %}
{% load static %}

{% block 'importacoes' %}
<link href="{% static 'eventos/css/gerenciar_evento.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}
<div class="containe-fluid mx-5">
    <br>
    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <div class="col-md">
            <form action="{% url 'gerenciar_evento' %}" method="get">
                {% csrf_token %}
                <label>Título:</label>
                <input type="text" placeholder="Título..." class="form-control" name="nome">
        </div>

        <div class="col-md">
            <br>
            <input type="submit" class="btn-principal" value="filtrar">
            </form>
        </div>

    </div>
    <table>
        <tr>
            <th>Logo</th>
            <th>Título</th>
            <th>Link de inscrição</th>
            <th>Participantes</th>
            <th>Início</th>
            <th>Término</th>
            <th>Editar Evento</th>
            <th>Deletar Evento</th>

        </tr>
        {% for evento in eventos %}
        <tr class="{% cycle 'linha' 'linha2' %}">
            <td width="7%"><a href="{% url 'participantes_evento' evento.id %}"><img width="100%"
                        src="/media/{{evento.logo}}"></a></td>
            <td>{{evento.nome}}</td>

            <td>
                <a href="{% url 'inscrever_evento' evento.id %}" id={{evento.id}} style="text-decoration: none;">Link de
                    inscrição
                </a>
                <button class="btn btn-dark" onclick="copiarLink('{{evento.id}}')"><i
                        class="bi bi-clipboard"></i></button>
            </td>

            <td><a style="text-decoration: none;" href="{% url 'participantes_evento' evento.id %}">Lista de
                    Participantes</a></td>
            </td>
            <td>{{evento.data_inicio}}</td>
            <td>{{evento.data_fim}}</td>
            <td>
                <button type="button" class="btn btn-primary">
                    <a href="{% url 'editar_evento' evento.id %}" style="text-decoration: none; color:white">
                        <i class="bi bi-pencil-fill"></i>&nbsp;Editar
                    </a>
                </button>
            </td>


            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{evento.id}}">
                    <i class="bi bi-trash3-fill"></i>&nbsp;Deletar
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{evento.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 text-dark" id="{{evento.id}}">Deletar Evento</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5 class="text-dark">Tem certeza que deseja deletar o evento: {{evento.nome}} ?</h5>
                                <p class="text-black">Os certificados e a lista de membros também serão apagados.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                                <button type="button" class="btn btn-danger">
                                    <a href="{% url 'deletar_evento' evento.id %}" style="text-decoration: none; color:white">Deletar</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        {% endfor %}

    </table>
    <script>
        function copiarLink(elementId) {
            var link = document.getElementById(elementId).href;
            navigator.clipboard.writeText(link)
            alert("Link copiado");
        }
    </script>
    <script>

    </script>

</div>

{% endblock %}